<div class="card">
    <div class="card-image">
        <img src="{{ recipe.cover.url }}" alt="temp">
    </div>
    <div class="card-body">
        <h3 class="card-name">
            {{ recipe.title }}
        </h3>
        <div class="card-tags">
            {% if recipe.user %}
            <span>
                <i class="fa-solid fa-user"></i>
                {% if recipe.user.first_name %}
                    {{ recipe.user.first_name }}
                {% else %}
                    {{ recipe.user.username }}
                {% endif %}
            </span>
            {% endif %}
            <span><i class="fa-solid fa-calendar"></i>{{ recipe.created_at|date:"d/m/Y"}}</span>
            {% if recipe.category %}
            <span class="card-category">
                <a href="{% url 'recipes:category' recipe.category.id %}">
                    <i class="fa-brands fa-bandcamp"></i>{{ recipe.category.name }}
                </a>
            </span>
            {% endif %}
        </div>
        <p class="card-description">
            {{ recipe.description }}
        </p>
    </div>
    <div class="card-info">
        <div class="card-time">
            <p>Tempo de Preparo</p>
            <p>{{ recipe.preparation_time }} {{ recipe.preparation_time_unit}}</p>
        </div>
        <div class="card-portions">
            <p>Num Porções</p>
            <p>{{ recipe.servings }} {{  recipe.servings_unit }}</p>
        </div>
    </div>
    {% if not is_detail_page %}
        <a href="{% url 'recipes:recipe' recipe.id %}">
            <div class="card-more">
                Ver mais...
            </div>
        </a>
    {% endif %}

    {% if is_detail_page %}
    <div class="preparation-steps">
        {{recipe.preparation_steps|linebreaksbr}}
    </div>
    {% endif %}
</div>