<div class="card">
    <div class="card-image">
        <img src="http://via.placeholder.com/1280x720" alt="temp">
    </div>
    <div class="card-body">
        <h3 class="card-name">
            Nome do card
        </h3>
        <div class="card-tags">
            <span>zezinho</span>
            <span>20/03/2020</span>
            <span class="card-category">Café da manhã</span>
        </div>
        <p class="card-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora harum nulla reprehenderit eligendi vero commodi distinctio nam dolorem laudantium minima, hic eveniet, praesentium perferendis unde rerum rem possimus ut officia?
        </p>
    </div>
    <div class="card-info">
        <div class="card-time">
            <p>Tempo de Preparo</p>
            <p>X tempo</p>
        </div>
        <div class="card-portions">
            <p>Num Porções</p>
            <p>X porções</p>
        </div>
    </div>
    <button type="button" class="card-more">Ver Mais</button>
</div>